.Member {
    position: relative;
    /* background-color: red; */
    min-width: 420px;
    border-radius: 8px;
    box-shadow: 0 0 8px #bdbdbd;
}

.Header {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #282c34;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.Name {
    color: #f4f4f4;
    /* background-color: purple; */
    font-size: 1.2rem;
    margin-right: auto;
    margin-left: 60px;
    text-align: center;
}

.Photo {
    position: absolute;
    top: 35px;
    top: 10px;
    right: 25px;
    width: 140px;
    width: 120px;
    height: 130px;
    height: 120px;
    color: white;
    border-radius: 15px;
    border-radius: 50%;
}

.Photo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    width: 120px;
    height: 130px;
    height: 120px;
    background-color: #eeeeee;
    background-color: #282c34;
    border-radius: 50%;
    transform: scale(1.08);
}

.Photo img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    border-radius: 50%;
}

.DesktopInfo {
    display: grid;
    grid-template-columns: 100px 180px;
    align-items: center;
    justify-content: end;
    height: 150px;
    padding: 0 1rem;
    /* margin-right: 80px; */
}

.Properties {
    color: #bdbdbd;
}

.Properties > * {
    margin: 1rem auto;
    text-align: left;
}

.Values > * {
    margin: 1rem auto;
    text-align: right;
}

.MobileInfo {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
}

.MobileInfo > * {
    margin: 0.2rem 0;
}

@media screen and (max-width: 1020px) and (max-height: 900px) {
    .Member {
        min-width: auto;
    }

    .Header {
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding: 1rem 0;
    }

    .Name {
        margin: unset;
        margin-top: 0.5rem;
    }

    .Photo {
        position: relative;
        top: 0;
        right: 0;
        width: 100px;
        height: 100px;
    }

    .Photo::before {
        width: 100px;
        height: 100px;
        background-color: #f4f4f4;
        transform: scale(1.04);
    }

    .DesktopInfo {
        display: none;
    }
    
    .MobileInfo {
        display: flex;
        /* height: 120px; */
    }
}