.NavLinkOne {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #282c34;
    background-color: #ffb62d;
    padding: 0.5rem;
    border-radius: 5px;
}

.NavLinkOne:hover {
    background-color: #e69d17;
}

.NavLinkOne span {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-right: auto;
}