.MobileNavigationItems {
    height: 80%;
    padding: 0.5rem 1rem;
    overflow-y: auto;
    margin-bottom: auto;
    transition: height 250ms ease;
}

.MobileNavigationItems > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #282c34;
    color: #ffb62d;
    background-color: #282c34;
    background-color: #f4f4f4;
    background-color: #5f6979;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    box-shadow: 0 0 4px black;
    cursor: pointer;
    border-radius: 5px;
}

.SubMenu {
    display: none;
    /* background-color: red; */
    padding: 0.25rem 0.5rem;
}
.SubMenu > * {
    margin: 0.25rem 0;
}
.Open {
    display: block;
}