.FinalStage {
    padding: 3rem;
    transition: all 250ms ease;
    animation: animate1 forwards ease 350ms;
}

@keyframes animate1 {
    from {
        transform: translateX(-10px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.Section {
    margin-bottom: 4rem;
}

.Section:last-child {
    margin-bottom: 0;
}

.Heading {
    position: relative;
}

.Heading::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background-color: #ffb62d;
    box-shadow: 0 0 5px #ffb62d;
    z-index: -1;
}

.Heading h3 {
    width: 200px;
    background-color: #eeeeee;
    background-color: #ffb62d;
    padding: 0 1rem;
    margin-right: 0;
    margin-bottom: 16px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px #ffb62d;
}

.School {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: red; */
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
}

.School > * {
    margin: 0.4rem;
}

.SchoolItem {
    background-color: #dfdfdf;
    padding: 0.5rem;
    text-align: center;
    border-radius: 5px;
}

.SchoolItem > * {
    margin: 0.4rem;
}

.SchoolItem:first-child {
    grid-column: 2 span/3;
}

.SchoolBranchGroup {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    /* background-color: green; */
    /* border: 1px solid #282c34; */
    border-radius: 5px;
}

.Select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #282c34;
    /* background-color: #ffb62d; */
    font-size: 1.25rem;
    border: none;
}

.Select option {
    padding: 0 1rem;
    text-align: center;
}

.Info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 5px;
}

.Student {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
}

.Student > * {
    margin: 0.4rem;
}

.InputWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.InputWrapper input[type=text],
.InputWrapper input[type=file] {
    display: block;
    width: 100%;
    /* height: 60px; */
    background-color: #f8f8f8;
    padding: 0.5rem !important;
    font-size: 1.2rem !important;
    border: 1px solid #282c34;
    border-radius: 5px;
    outline: none;
}

.InputWrapper input[type=text]:focus,
.InputWrapper input[type=file]:focus {
    background-color: white;
    border: 1px solid #ffb62d;
    box-shadow: 0 0 4px #ffb62d;
}

.DatePicker {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    /* background-color: red; */
    border-radius: 5px;
}

.DatePicker input {
    direction: ltr;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
    background-color: #f8f8f8;
    margin-top: 6px;
}

.DatePicker span {
    display: none;
}

.LivingGroup {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    grid-column: 1/span 3;
    /* background-color: white; */
    padding: 2px;
    border-radius: 5px;
}

.Radio {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfdfdf;
    padding: 0.5rem 0;
    margin-left: 4px;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
}

.Radio:last-child {
    margin-left: 0;
}

.Radio label {
    z-index: 999;
}

.Radio input[type=radio] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 9999;
}

.Radio input[type=radio]:disabled {
    cursor: not-allowed;
}

.Radio input[type=radio]:default + .FakeRadio,
.Radio input[type=radio]:checked + .FakeRadio {
    background-color: #ffb62d;
}

.Radio input[type=radio]:disabled + .FakeRadio {
    background-color: #a7a7a7;
}

.FakeRadio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    pointer-events: none;
}

.Preview {
    position: relative;
    grid-column: 1 span/2;
    /* justify-self: end; */
    width: 150px;
    height: 150px;
    background-color: #f4f4f4;
    box-shadow: 0 0 5px #282c34;
    border-radius: 5px;
}

.Preview img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.Father {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
}

.Father > * {
    margin: 0.4rem;
}

.Mother {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
}

.Mother > * {
    margin: 0.4rem;
}

.Family {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
}

.Family > * {
    margin: 0.4rem;
}

.Medical {
    display: flex;
    flex-direction: column;
    max-width: 980px;
    height: 100%;
    /* background-color: red; */
    margin: 0 auto;
    margin-top: 1rem;
}

.Medical > * {
    margin: 0.8rem 0;
}

.Textarea {
    width: 100%;
    height: 100px;
    background-color: #f8f8f8;
    font-size: 1rem;
    padding: 0.5rem;
    resize: none;
    border: 1px solid #282c34;
    border-radius: 5px;
    outline: none;
}
.Textarea:focus {
    background-color: white;
    border: 1px solid #ffb62d;
    box-shadow: 0 0 5px #ffb62d;
}

.Athletic {
    display: flex;
    flex-direction: column;
    max-width: 980px;
    height: 100%;
    /* background-color: red; */
    margin: 0 auto;
    margin-top: 1rem;
}

.Athletic > * {
    margin: 0.4rem;
}

.More {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    /* background-color: red; */
    max-width: 980px;
    height: 100%;
    font-size: 0.95rem;
    margin: 0 auto;
}

.More > * {
    margin: 0.4rem;
}

.Checkbox {
    position: relative;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #f8f8f8;
    border: 1px solid #282c34;
    border-radius: 5px;
    cursor: pointer;
}

input[type=checkbox] {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

input[type=checkbox]:checked + .FakeCheckbox {
    background-color: #ffb62d;
}

input[type=checkbox]:checked + .FakeCheckbox i {
    display: block;
}

.FakeCheckbox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfdfdf;
    width: 100%;
    height: 100%;
    margin-right: auto;
    border-radius: 5px;
}

.FakeCheckbox i {
    display: none;
}

.ServiceGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/span 3;
    border-radius: 5px;
}

.ServiceGroup > * {
    flex-grow: 1;
    margin-left: 0.5rem;
}

.PDFForms {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
}

.PDFForms > * {
    margin: 0.4rem;
}

.PDF {
    background-color: #dfdfdf;
    padding: 0.5rem;
    text-align: center;
    border-radius: 5px;
}

.DownloadTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 750px) and (max-height: 900px) {
    .FinalStage {
        padding: 0;
    }

    .Heading h3 {
        margin: 1rem auto;
    }
    
    .SchoolBranchGroup {
        display: flex;
        flex-direction: column;
    }

    .SchoolBranchGroup > * {
        margin: 0.2rem 0;
    }

    .School, .Student, .Father, .Mother, .Family, .More, .PDFForms {
        display: flex;
        flex-direction: column;
        align-items: unset;
    }

    .DatePicker div:last-child {
        position: relative;
    }

    .Medical > *, .Athletic > * {
        margin: 1rem 0;
    }

    .Textarea {
        height: 200px;
    }
}