.TopNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #eeeeee;
    background-color: #184D47;
    background-color: #515E63;
    background-color: #476072;
    background-color: #282c34;
    color: #F4F4F4;
    padding: 6.5px 1rem;
    border-bottom: 1px solid #ffb62d;
    z-index: 9;
}
.Wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
}

.Branch {
    display: inline-block;
    color: #F4F4F4;
    font-weight: bold;
}

.Social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Social > * {
    margin: 0 0.25rem;
}