.CarouselWrapper {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 8px #cacaca;
    /* padding: 0.5rem; */
}

.Carousel {
    position: relative;
    border-radius: 5px;
    padding: 0.5rem;
}

.Carousel img {
    object-fit: cover;
    object-position: center center;
}

.CarouselButtonRight {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50px;
    height: 100%;
    outline: none;
    border: none;
    background-color: red;
    background-color: rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
}

.CarouselButtonLeft {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50px;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
}

.ThumbnailsWrapper {
    display: flex;
    overflow-x: auto;
}

.Thumbnail img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

@media screen and (max-width: 750px) and (max-height: 900px) {
    .Carousel img {
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}