.SectionThree {
    /* background-color: rgba(0, 0, 0, 0.87); */
    width: 100%;
    padding: 1rem;
}

.Wrapper {
    max-width: 1250px;
    margin: 0 auto;
    /* background-color: #fcfcfc; */
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 15px #cacaca;
    padding: 2rem;
}

.Wrapper h2 {
    font-size: 2rem;
}

.Wrapper p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
}

.Showcase {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 1rem;
    /* padding: 1rem; */


}

.Achievement {
    position: relative;
    /* width: 300px; */
    height: 250px;
    background-color: #fcfcfc;
    box-shadow: 0 0 10px black;
    border-radius: 15px;
    /* padding: 0.1rem; */
    /* border: 5px solid #ffb62d; */
}

.Achievement p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    z-index: 2;
}

.Achievement img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px;
}
.Achievement::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    /* z-index: 1; */
    pointer-events: none;
}