.LoadingBar {
    direction: ltr;
    position: fixed;
    top: 124px !important;
    left: 0;
    height: 6px !important;
    overflow: hidden;
    z-index: 1 !important;
    pointer-events: none;
}

@media screen and (max-width: 720px) and (max-height: 900px) {
    .LoadingBar {
        top: 104px !important;
        height: 4px !important;
    }
}