.SubLinkOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #ffb62d;
    background-color: #5f6979;
    color: #ffb62d;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;
}

@media screen and (max-width: 420px) and (max-height: 900px) {
    .SubLinkOne {
        font-size: 1rem;
    }
}