.ButtonOne {
    display: inline-block;
    background-color: #ffb62d;
    color: #283344;
    padding: 1rem 2rem;
    padding: 0.5rem 1rem;
    padding: 0.75rem 1.25rem;
    font-size: 1.2rem;
    border-radius: 5px;
    transition:
        transform 100ms ease,
        box-shadow 250ms ease,
        background-color 250ms ease;
    cursor: pointer;
    outline: none;
    border: none;
}
.ButtonOne:hover {
    background-color: #e69d17;
}
.ButtonOne:active {
    transform: scale(0.97);
}
.ButtonOne:target {
    outline: auto;
}

@media screen and (max-width: 420px) and (max-height: 900px) {
    .ButtonOne {
        font-size: 1rem;
    }
}