.LinkOne {
    display: inline-block;
    background-color: #ffb62d;
    color: #283344;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition:
        transform 100ms ease,
        box-shadow 250ms ease,
        background-color 250ms ease;
}
.LinkOne:hover {
    background-color: #e69d17;
}
.LinkOne:active {
    transform: scale(0.97);
}

@media screen and (max-width: 420px) and (max-height: 900px) {
    .LinkOne {
        font-size: 1rem;
    }
}