.Map {
    position: relative;
    width: 100%;
    height: 400px !important;
    text-align: center;
    box-shadow: 0 0 8px #bdbdbd;
}

.Zoom {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #f4f4f4;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 0 0 8px #bdbdbd;
    z-index: 1;
}